<app-navbar></app-navbar>

<section id="pre-purchase" class="section-item">
    <div class="container">
        <div>
            <h2 class="display-6 text-uppercase  pt-10 mb-5">FAQ: PRE-PURCHASE QUESTIONS</h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" style="margin-top: 0;"
                        data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                        What is a MultiMart?
                    </button>
                </h2>
                <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="heading-1"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Mutlimart is a Ecommerce website where you can buy your products at affordable rates.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        How does Mutlimart Guarantee work?
                    </button>
                </h2>
                <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Mutlimart is a trusted brand website and every product that is listed on our website goes
                            through regular check to ensure quality.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                        How do I Cancel?
                    </button>
                </h2>
                <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>You can either remove the product from the cart or you can cancel the product before
                            shipping.
                            Usually 36 hours from ordering the product is a ideal time.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                        How do I get Started?
                    </button>
                </h2>
                <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Just click on the product you want to buy and select the quantity and fill out the shipping
                            details.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                        Do Multimart delivery's outside India?
                    </button>
                </h2>
                <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>No, currently we are delivering only in India. But we expect to expand our services next year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--END. continer-->
</section><!--END. section-->

<section id="post-purchase" class="section-item" style="padding-bottom: 50px;">
    <div class="container">
        <div>
            <h2 class="display-6 text-uppercase  pt-10 mb-5">POST-PURCHASE QUESTIONS</h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" style="margin-top: 0;"
                        data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                        Hoe do I change my Shipping Address?
                    </button>
                </h2>
                <div id="collapse-6" class="accordion-collapse collapse " aria-labelledby="heading-6"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> In the “My Account” area you may update your shipping and/or your billing address at any time!
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                        My delivery status hasn't updated yet?
                    </button>
                </h2>
                <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> It takes about 4-8 hours for our shipping data to pass to the carrier after shipping label
                            creation. Nothing to worry about, it will update shortly! </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                        How do I replace a defected product?
                    </button>
                </h2>
                <div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="heading-8"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> Easy! Take a picture, send it to customer care. If it qualifies for replacement, we’ll replace
                            it!</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        What happens if I didn't get my product?
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>A full refund will be generated within 48 hours, and the desired amount will be transferred to
                            your bank account. </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
                        What kind of payment options are present?
                    </button>
                </h2>
                <div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="heading-10"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> Currently we are only accepting online payment. you can do online transaction by credit/debit
                            card. We also accept payments by UPI.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--END. continer-->
</section><!--END. section-->

<section id="shipping" class="section-item">
    <div class="container">
        <div>
            <h2 class="display-6 text-uppercase  pt-10 mb-5">SHIPPING QUESTIONS</h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" style="margin-top: 0;"
                        data-bs-target="#collapse-11" aria-expanded="true" aria-controls="collapse-11">
                        HOW MUCH DOES SHIPPING COST?
                    </button>
                </h2>
                <div id="collapse-11" class="accordion-collapse collapse " aria-labelledby="heading-11"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> It totally depends on the place where you live in India.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
                        HOW CAN I TRACK MY SHIPMENT?
                    </button>
                </h2>
                <div id="collapse-12" class="accordion-collapse collapse" aria-labelledby="heading-12"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> You will receive tracking information via email at the time of shipment! You can also track your
                            shipments in the “my account” area! </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-13">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
                        WHAT ARE MY SHIPPING OPTIONS?
                    </button>
                </h2>
                <div id="collapse-13" class="accordion-collapse collapse" aria-labelledby="heading-13"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> We generally work with diffferent delivery patners to ensure you the fastest delivery.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-14">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-14" aria-expanded="false" aria-controls="collapse-14">
                        HOW DO I KNOW WHEN MY BOX HAS SHIPPED?
                    </button>
                </h2>
                <div id="collapse-14" class="accordion-collapse collapse" aria-labelledby="heading-14"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> You will receive an e-mail in your inbox containing a tracking number when shipped. It will be
                            sent to the email address you utilized to checkout.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-15">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-15" aria-expanded="false" aria-controls="collapse-15">
                        Do Multimart delivery's outside India?
                    </button>
                </h2>
                <div id="collapse-15" class="accordion-collapse collapse" aria-labelledby="heading-15"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>No, currently we are delivering only in India. But we expect to expand our services next year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--END. continer-->
</section><!--END. section-->

<section id="help" class="section-item" style="background-color: #0a1d37; padding: 50px 0">
    <div class="container">
        <div class="">
            <h3 class="text-uppercase text-center text-white">If your questions aren’t answered above, e-mail us at
                customercare@mutlimart.com. Our team will contact you within 48 hours to solve all your problems.</h3>
        </div>
    </div>
</section>
<app-footer></app-footer>