<section id="footer" class="section-item">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class=" text-start">
                    <img class="img me-3" src="assets/media/Images/bag4.png" alt="">
                    <div class="logo">
                        <h2 style="color: #0a1d37;">Multimart</h2>
                        <h6 class="text-gray-800 text-start">Since 1977</h6>
                    </div>
                </div>
                <!--END.column-->
                <div class="text-start mt-5">
                    <p>Multimart is a ecommerce store since 1977 trusted by thousands of customers. We have a wide range
                        of items which suits your needs.
                        Choose your favourite products from more than 100 brands without worrying about quality.</p>
                </div>
                <div class="contact text-start">
                    <ul>
                        <li>
                            <i class="bi bi-geo-alt text-dark fs-1"></i>
                            <p>180-A, New Delhi, India</p>
                        </li>
                        <li> <i class="bi bi-telephone text-dark fs-1"></i>
                            <p>Phone: 01941-801543</p>
                        </li>
                        <li> <i class="bi bi-envelope text-dark fs-1"></i>
                            <p>Fax: 099 044 6622</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3 mt-8">
                <div class="h3"><span style="color: #0a1d37;">Top Categories & Brands</span></div>
                <div class="brand">
                    <ul>
                        <li><a>Electronics</a></li>
                        <li><a>Furniture</a></li>
                        <li><a>Skin Care</a></li>
                        <li><a>Kitchen</a></li>
                        <li><a>Fashion</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-5 mt-8">
                <div><span class="h3" style="color: #0a1d37;">Useful links</span></div>
                <div>
                    <ul>
                        <li><a>Account</a></li>
                        <li><a>Password Recovery</a></li>
                        <li><a>Contact us</a></li>
                        <li><a>Get Help</a></li>
                        <li><a>Purchase Details</a></li>
                    </ul>
                </div>
            </div>
        </div><!--END.row-->
    </div><!--END.container-->
</section><!--section-->

<section id="copyright">
    <div class="container-fluid">
        <div class="separator border-2 border-gray-300 mb-3" style="width: auto;"></div>
        <div class="text-center">
            <p>&copy; 1997-2022. All Rights Reserved By <span routerLink="/home" style="color: #0a1d37; font-weight: 600; cursor: pointer;">
                    Multimart</span></p>
        </div>
    </div><!--END.container-->
</section><!--END.section-->
