<app-navbar></app-navbar>

<section id="home">
    <div class="container">
        <div>
            <h5 class="display-6">New Arrivals</h5>
            <h1 class="display-2"><span style="color: #0a1d37;">Best Price</span> <span class="text-white"> This
                    Year</span></h1>
            <h3 class="text" style="font-weight: 400;">Multimart offers your premium quality products<br>at affordable price.</h3>
            <button class="btn btn-dark mt-5" style="border-radius: 25px;" data-bs-toggle="modal"
                data-bs-target="#myModal">Shop
                Now</button>
        </div>
    </div><!-- END. Container -->
</section><!-- END. Section -->

<section id="videos" class="section-item">
    <div class="container">
        <div>
            <div class="frame text-center">
                <!-- <video width="1020" height="540" autoplay muted>
                <source class="videos" src="/assets/media/Images/video.mp4" type="video/mp4">
            </video> -->
                <!-- <iframe class="video bg-white m-auto" controls preload="none" frameborder="0" width="1280" height="720"
                    src="/assets/media/Images/video.mp4" allowfullscreen allow="autoplay"></iframe> -->
                <iframe class="youtube" src="https://www.youtube.com/embed/xLhQVGA1rOM" width="100%" height="720" frameborder="0"
                    allowfullscreen="allowfullscreen" data-inline-video="true"></iframe>

            </div>
        </div>
    </div><!-- END. Container -->
</section><!-- END. Section -->

<section id="details" class="section-item">
    <div class="container-fluid">
        <div class="row  text-center align-items-center " style="background-color: #0a1d37;">
            <div class="col-7 text-white d-block">
                <div>
                    <h3 class="display-4 mb-5 text-center text-white" style="font-weight: 600;">Dedicated to your <span
                            class="d-block">success</span></h3>
                </div>
                <div>
                    <div>
                        <i class="bi bi-check2-all"></i>
                        <h3>Build your own custom store with us.</h3>
                    </div>
                    <div>
                        <i class="bi bi-check2-all"></i>
                        <h3>Instant customer support avaliable.</h3>
                    </div>
                    <div>
                        <i class="bi bi-check2-all"></i>
                        <h3>Choose products from 100+ brands.</h3>
                    </div>
                </div>
            </div>
            <div class="col-5 p-0">
                <img style="object-fit: cover;" width="100%" src="/assets/media/Images/persons.jpg" alt="">
            </div>
        </div><!-- END. Row -->
    </div><!-- END. Container -->
</section><!-- END. Section -->

<section id="work" class="section-item">
    <div class="container">
        <div class="mb-5">
            <h2 class="display-5" style="color: #0a1d37;">How do we work?</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <div>
                    <div class="mb-5">
                        <img style="object-fit: cover;" width="100%" src="/assets/media/Images/sale.jpg" alt="">
                    </div>
                    <div>
                        <h2>Affordable Prices</h2>
                        <p>We give back to our customers in whatever way we can. This is why on our website there is
                            always some kind of sale going throughout year.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <div class="mb-5">
                        <img style="object-fit: cover;" width="100%" src="/assets/media/Images/boxes.jpg" alt="">
                    </div>
                    <div>
                        <h2>Free Shipping</h2>
                        <p>We always believe in customer satisfaction that's why there is no shipping fees. You only
                            have to pay for the product you have paid for.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <div class="mb-5">
                        <img style="object-fit: cover;" width="100%" src="/assets/media/Images/team.jpg" alt="">
                    </div>
                    <div>
                        <h2>Continous Intergration</h2>
                        <p>With continue support from our brand parterns spread all over the world, we are able to bring
                            latest fashion trends to your shopping list.</p>
                    </div>
                </div>
            </div>
        </div><!-- END. Row -->
    </div><!-- END. Container -->
</section><!-- END. Section -->

<section id="newsletter" class="section-item py-20" style="background-color: #0a1d37;">
    <div class="container">
        <div class="align-items-center text-center ">
            <div>
                <h2 class=" text-white display-5 mb-10">Want to grow your buisness?<span class="d-block">We should
                        talk.</span></h2>
            </div>
            <div class=" ">
                <button data-bs-toggle="modal" href="#myModal" class="btn btn-outline-secondary"
                    style="border: #fff solid 1px; border-radius: 25px;">Let's Chat<i
                        class="bi bi-arrow-up-right ms-2 mb-1"></i></button>
            </div>
        </div><!-- END. Row -->
    </div><!-- END. Container -->
</section><!-- END. Section -->


<app-footer></app-footer>