<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="4%" height="100%" fill="currentColor" class="bi bi-bag mb-2"
            style="color: #fff;" viewBox="0 0 16 16">
            <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
        </svg>
        <a class="navbar-brand ms-2 text-white" href="#"
            style="flex: auto; font-weight: 700; font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Multimart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleCollapsed()" style="background: #fff !important; font-size: 1.5rem;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"
            [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav text-uppercase">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/offers">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/faq">Faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-1" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#myModal">
                        Contact Us
                    </a>
                    <app-contact-form></app-contact-form>
                </li>
            </ul>
        </div>
    </div>
</nav>