.navbar{
  background: #0a1d37 !important;
  padding: 15px 0;
}
.btn{
 background-color: #0b5ed7 !important;
}

.btn:hover{
  background-color: #ff7294 !important;
}

.navbar-brand {
font-size: x-large;
}

.navbar-collapse {
justify-content: end;
}

.nav-link {
  float: right !important;
  font-weight: 500;
  font-size: medium;
  color:  #fff !important;
  margin: 0 10px 0 10px;
}

.nav-link:hover{
  color: #0b5ed7 !important;
}

@media screen and (max-width: 991px) {
.bi-bag{
  width: 10%;
}

  .btn{
      display: none;
   }

}
