/*-------------
GENERAL SECTION
---------------*/

.section-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-------------
CART-HEADER SECTION
---------------*/
#cart-header .logo {
  display: inline-grid;
}

#cart-header .primary {
  background-color: #0a1d37;
}
