<!-- <section id="cart-header">
    <div class="container-fluid primary">
        <div class="row d-flex align-items-center pt-0">
            <div class="col-5 text-center">
                <!-- <img class="img" src="assets/media/Images/bag4.png" alt=""> --
                <svg xmlns="http://www.w3.org/2000/svg" width="10%" height="100%" fill="currentColor"
                    class="bi bi-bag my-4 me-2" style="color: #fff;" viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
                <div class="logo">
                    <h2 class="text-white display-6">Multimart</h2>
                </div>
            </div>
            <div class="col-7 d-flex align-items-end text-start">
                <div>
                    <span class="bullet h-5px w-100px"></span>
                </div>
                <div>
                    <span class="bullet  h-5px w-100px mx-4"></span>
                </div>
                <div class="justify-content-center">
                    <div class="h6 text-white">1 Step Away!</div>
                    <span class="bullet active h-5px w-100px" style="background-color: #fff;"></span>
                </div>
            </div>
        </div><!-- END. Row --
    </div><!-- END. Container --
</section>END. Section -->

<app-navbar></app-navbar>
<section id="back" class="section-item">
    <div class="container">
        <div class="back">
            <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr022.svg-->
            <span class="svg-icon svg-icon-dark svg-icon-4" style="cursor: pointer;" routerLink="/home"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M17.6 4L9.6 12L17.6 20H13.6L6.3 12.7C5.9 12.3 5.9 11.7 6.3 11.3L13.6 4H17.6Z"
                        fill="currentColor" />
                </svg></span>
            <!--end::Svg Icon-->
            <a class="h4" style="color: #0a1d37;" routerLink="/home">Back</a>
        </div>
    </div><!-- END. container -->
</section><!-- END. Section -->

<section id="address" class="section-item">
    <div class="container location ">
        <div class="row">
            <h2 class="display-6">BILLING DETAILS</h2>
            <div class=" new-address">
                <h5></h5>
            </div>
            <div class="col-6">
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="name" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">First Name</label>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="name" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">Last Name</label>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">Email address</label>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">Street Address</label>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">Apt/ Suite / Other</label>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">Zip Code</label>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control form-control-solid" id="floatingInput1"
                        placeholder="name@example.com" />
                    <label for="floatingInput1">City</label>
                </div>
                <!--end::Input group-->
                <!--begin:: Select-->
                <select class="form-select form-select-solid mb-7" data-control="select2" placeholder="Country">
                    <option>Country</option>
                    <label for="floatingInput1">Country</label>
                    <option value="1">India</option>
                    <option value="2">USA</option>
                    <option value="3">Canda</option>
                    <option value="4">United Kingdom</option>
                </select>
                <!--end:: Select-->
            </div>
        </div><!-- END. Row -->
    </div><!-- END. Container -->
</section><!-- END. Section -->