<app-header></app-header>
<section id="home" class="search">
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-3 text-center">
                <img class="img me-3" src="assets/media/Images/bag4.png" alt="">
                <div class="logo">
                    <h2 style="color: #0a1d37;">Multimart</h2>
                    <h6 class="text-gray-800 text-start">Since 1977</h6>
                </div>
            </div>
            <!--END.column-->
            <div class="col-6 text-center search">
                <div class="mt-7 px-10">
                    <div class="rounded d-flex flex-column flex-lg-row align-items-lg-center bg-white">
                        <!--begin::Row-->
                        <div class="row flex-grow-1 mb-5 mb-lg-0 searchbox">
                            <!--begin::Col-->
                            <div class="col-lg-12 d-flex align-items-center mb-3 mb-lg-0">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                <span class="svg-icon svg-icon-1 svg-icon-gray-400 me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                            transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
                                        <path
                                            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                            fill="black"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-flush flex-grow-1" name="search"
                                    value="" placeholder="Search Products">
                                <!--end::Input-->
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Action-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                        <!--end::Action-->
                    </div>
                </div>
            </div>
            <!--END.column-->
            <div class="col-3 cart justify-content-center">
                <div>
                    <h5 href="#" class="text-uppercase mt-2" style="color: #0a1d37;">Login/Register</h5>
                </div>
                <div routerLink="/cart" class="cart-icon">
                    <!--begin::Svg Icon | path: assets/media/icons/duotune/ecommerce/ecm001.svg-->
                    <span class="svg-icon svg-icon-dark svg-icon-2hx mx-2 mb-3"><svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.3"
                                d="M18.041 22.041C18.5932 22.041 19.041 21.5932 19.041 21.041C19.041 20.4887 18.5932 20.041 18.041 20.041C17.4887 20.041 17.041 20.4887 17.041 21.041C17.041 21.5932 17.4887 22.041 18.041 22.041Z"
                                fill="black" />
                            <path opacity="0.3"
                                d="M6.04095 22.041C6.59324 22.041 7.04095 21.5932 7.04095 21.041C7.04095 20.4887 6.59324 20.041 6.04095 20.041C5.48867 20.041 5.04095 20.4887 5.04095 21.041C5.04095 21.5932 5.48867 22.041 6.04095 22.041Z"
                                fill="black" />
                            <path opacity="0.3"
                                d="M7.04095 16.041L19.1409 15.1409C19.7409 15.1409 20.141 14.7409 20.341 14.1409L21.7409 8.34094C21.9409 7.64094 21.4409 7.04095 20.7409 7.04095H5.44095L7.04095 16.041Z"
                                fill="black" />
                            <path
                                d="M19.041 20.041H5.04096C4.74096 20.041 4.34095 19.841 4.14095 19.541C3.94095 19.241 3.94095 18.841 4.14095 18.541L6.04096 14.841L4.14095 4.64095L2.54096 3.84096C2.04096 3.64096 1.84095 3.04097 2.14095 2.54097C2.34095 2.04097 2.94096 1.84095 3.44096 2.14095L5.44096 3.14095C5.74096 3.24095 5.94096 3.54096 5.94096 3.84096L7.94096 14.841C7.94096 15.041 7.94095 15.241 7.84095 15.441L6.54096 18.041H19.041C19.641 18.041 20.041 18.441 20.041 19.041C20.041 19.641 19.641 20.041 19.041 20.041Z"
                                fill="black" />
                        </svg></span>
                    <!--end::Svg Icon-->
                </div>
                <div class="cart-icon">
                    <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen030.svg-->
                    <span class="svg-icon svg-icon-dark svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z"
                                fill="black" />
                        </svg></span>
                    <!--end::Svg Icon-->
                </div>
            </div>
            <!--END.column-->
        </div><!-- END.row -->
    </div>
    <!--END.container-fluid-->
</section>
<!--END.section-->



<section id="categories">
    <div class="container my-2">
        <ul class="category text-uppercase">
            <li class="category-list">
                <app-product-category></app-product-category>
                <span class="bullet h-20px w-1px bg-secondary me-4 text-end mt-3 align-items-center "></span>
            </li>
            <li class="category-list">
                <a class="h5" routerLink="/home">Home</a>
                <span class="bullet h-20px w-1px bg-secondary mx-4"></span>
            </li>
            <li class="category-list">
                <a class="h5">Shop</a>
                <span class="bullet h-20px w-1px bg-secondary mx-4"></span>
            </li>
            <li class="category-list">
                <a class=" h5">Offers</a>
                <span class="bullet h-20px w-1px bg-secondary mx-4"></span>
            </li>
            <li class="category-list">
                <a routerLink="/about" class="h5">About</a>
                <span class="bullet h-20px w-1px bg-secondary mx-4"></span>
            </li>
            <li class="category-list">
                <a routerLink="/Faq" class="h5">FAQ</a>
            </li>
        </ul>
    </div><!-- END.container -->
</section><!-- END.section-->

<section id="layout" class="section-ite">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5">
                <div class="text-start" style="color: #0a1d37;">
                    <h5><span>#Top Quality</span></h5>
                    <h2><span class="display-1">Beats Studio3 Wireless </span></h2>
                </div>
                <div class="break-line">
                    <h6 class="text-gray-700 my-5 " style="display: block;">A sleek, streamlined, and forldable design,
                        plus seamless setup via the new QI chip, means these are more durable and portable enough to
                        stay on the move with you. </h6>
                </div>
                <button style="border-radius: 20px;" class="btn btn-dark btn-lg my-5 align-items-end">Buy Now</button>
            </div>
            <div class="col-7">
                <div class="text-center">
                    <img src="assets/media/Images/headphone.jpg" class="image" width="100%" height="100%" alt="">
                </div>
            </div>
        </div>
        <!--END.row-->
    </div>
    <!--END.container-->
</section>
<!--END.section-->

<section id="headsets" class="section-item">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="text-center">
                    <img src="assets/media/Images/headset.png" class="headset" style="column-fill: auto;" width="80%"
                        alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="text-start">
                    <h2><span class="display-5 text-light">The next level of VR gaming </span></h2>
                </div>
                <div class="break-line">
                    <h6 class="text-gray-400 " style="display: block;">Hundreds of hit games, one-of-a-kind experiences,
                        live events, new ways to stay fit and a growing community of users await you on Quest 2.</h6>
                </div>
                <button style="border-radius: 20px;" class="btn btn-light  btn-lg my-5 align-items-end">Visit Store
                </button>
            </div>
        </div>
        <!--END.row-->
    </div>
    <!--END.container-->
</section>
<!--END.section-->


<section id="services" class="section-item">
    <div class="container-fluid">
        <div class="row text-center ">
            <div class="col-3">
                <i class="bi bi-truck fs-2qx text-white"></i>
                <h5>Free Shipping</h5>
                <p>Instant Fast Delivery</p>
            </div>
            <div class="col-3">
                <i class="bi bi-arrow-repeat text-white fs-2qx"></i>
                <h5>Easy Return</h5>
                <p>7 Day Return Policy</p>
            </div>
            <div class="col-3">
                <i class="bi bi-telephone text-white fs-2x"></i>
                <h5>24/7 Support</h5>
                <p>Customer Support Avaliable</p>
            </div>
            <div class="col-3">
                <i class="bi bi-box text-white fs-2x"></i>
                <h5>100% Secure and Safe</h5>
                <p>Without Any Defects</p>
            </div>
        </div>
        <!--END.row-->
    </div>
    <!--END.container-->
</section>
<!--END.section-->

<app-footer></app-footer>